replicaCount: 1

image:
  repository: ghcr.io/krishnakumar-sudala/notes-service/notes-service
  tag: "896741c5d931a3284b85a8a4192969ee22ba881a"
  pullPolicy: Always

service:
  type: ClusterIP
  port: 3000

redis:
  host: "redis-master"
  port: 6379
  passwordSecretName: "redis"
  passwordSecretKey: "redis-password"

resources:
  limits:
    cpu: 200m
    memory: 256Mi
  requests:
    cpu: 100m
    memory: 128Mi

route:
  enabled: true
  host: ""

serviceAccount:
  create: false
  name: ""
