replicaCount: 1

image:
  repository: ghcr.io/krishnakumar-sudala/notes-service/notes-service
  tag: "b09213abce592f9caa218366557fc647dff8bd04"
  pullPolicy: Always

service:
  type: ClusterIP
  port: 3000

redis:
  host: "redis-master.node-redis-demo.svc.cluster.local"
  port: 6379
  passwordSecretName: "redis"
  passwordSecretKey: "redis-password"

resources:
  limits:
    cpu: 200m
    memory: 256Mi
  requests:
    cpu: 100m
    memory: 128Mi

route:
  enabled: true
  host: ""

serviceAccount:
  create: false
  name: ""
